<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>サンプル</title>
      <script src=<%=javascript_path "Chart.min"%>></script>

  </head>
  <body>
      <div class="nav">
        <ul class="nl clearFix">
          <li><a href="http://133.242.235.164/home/index">HOME</a></li>
          <li><a href="http://133.242.235.164/home/show">Money</a></li>
          <li><a href="http://133.242.235.164/ranking/index">Rankings</a></li>
        </ul>
      </div>

      <br>
      <br>
      <br>
      <div id="style" class="relative">
        <img  class="" src="/assets/images.jpg"width="350"height="100">
        <!-- <img  class="absolute" src="/assets/images.png"width="50"height="50" align="left"> -->
        <%= image_tag "#{@user.picture}", :size => '50x50' ,:class => "absolute", :align => "left" %>
        <p class="abs">ユーザ名 <%= @user.name %></p>
      </div>
      <%= debug @user %>
<div id="style">
<p><span class="big">09月</span>の利用状況</p>
<br>
<br>
<font>■残金はこちら■</font>
<h2><%= number_with_delimiter(@money.money) %></h2>
<br>
<font>■目標金額はこちら■</font>
<h2><%= number_with_delimiter(@user.target) %></h2>
</div>
<div id="style">
<font>■支出グラフ■</font>
<br>
<br>
<br>
<body onload="displayLineChart();">
  <div class="box">
    <canvas id="lineChart" height="450" width="350"></canvas>
  </div>
</div>
  </body>
</html>
