<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>money</title>
    <script src=<%=javascript_path "Chart.min"%>></script>

  </head>
  <body>
  <div class="nav">
    <ul class="nl clearFix">
      <li><%= link_to "Home", home_index_path %></li>
      <li><%= link_to "Money", home_show_path %></li>
      <li><%= link_to "Rankings", controller:"ranking", action:"index" %></li>
    </ul>
  </div>
</body>
<body>
    <br>
    <br>
    <br>

</body>
<div id="sty">
  <font>■支出割合■</font>
  <br>
  <br>
<canvas id="canvas" height="350" width="350"></canvas>
<%= image_tag 'rec.png' %>
</div>

</html>
